In [1]:
import re

In [7]:
text = """im asad my phone number is
03429873740 and my room number is 10
and our home contact number is (051)-570-2952"""

In [10]:
pattern = '\(\d{3}\)-\d{3}-\d{4}|\d{11}'

In [11]:
matches = re.findall(pattern, text)

In [12]:
matches

['03429873740', '(051)-570-2952']

In [13]:
text ="""
the gross cost of operating lease vehicles in FY2021 Q1 was $4.85 billion.
in previous quarter i.e FY2020 Q4 it was $3 billion."""

In [14]:
pattern = 'FY\d{4} Q[1-4]'

In [15]:
matches = re.findall(pattern, text)

In [16]:
matches

['FY2021 Q1', 'FY2020 Q4']

In [23]:
# when we ignore lower and upper case

In [19]:
text ="""
the gross cost of operating lease vehicles in FY2021 Q1 was $4.85 billion.
in previous quarter i.e Fy2020 Q4 it was $3 billion."""

In [20]:
pattern = 'FY\d{4} Q[1-4]'

In [21]:
matches = re.findall(pattern, text, re.IGNORECASE)

In [22]:
matches

['FY2021 Q1', 'Fy2020 Q4']

In [24]:
pattern = 'FY(\d{4} Q[1-4])'

In [25]:
matches = re.findall(pattern, text, re.IGNORECASE)
matches

['2021 Q1', '2020 Q4']

In [26]:
pattern='\$[1-9\.]+'

In [27]:
matches = re.findall(pattern, text, re.IGNORECASE)
matches

['$4.85', '$3']

In [36]:
pattern='\$([1-9\.]+)'

In [37]:
matches = re.findall(pattern, text, re.IGNORECASE)
matches

['4.85', '3']

In [40]:
pattern='FY(\d{4} Q[1-4])[^\$]+\$([1-9\.]+)'

In [41]:
matches = re.findall(pattern, text, re.IGNORECASE)
matches

[('2021 Q1', '4.85'), ('2020 Q4', '3')]

# NLP

In [43]:
chat1 = 'codebasics: you ask lot of questions ðŸ˜   1235678912, abc@xyz.com'
chat2 = 'codebasics: here it is: (123)-567-8912, abc@xyz.com'
chat3 = 'codebasics: yes, phone: 1235678912 email: abc@xyz.com'

In [51]:
#phone number
pattern = '\(\d{3}\)-\d{3}-\d{4}|\d{10}'

In [52]:
matche = re.findall(pattern, chat1)
matche

['1235678912']

In [53]:
matche = re.findall(pattern, chat2)
matche

['(123)-567-8912']

In [54]:
matche = re.findall(pattern, chat3)
matche

['1235678912']

In [49]:
#email
pattern = '[a-z0-9A-Z\S]*@*[a-z]+\.[a-z0-9A-Z]*'

In [55]:
matche = re.findall(pattern, chat1)
matche

['1235678912']

In [56]:
matche = re.findall(pattern, chat2)
matche

['(123)-567-8912']

In [57]:
matche = re.findall(pattern, chat3)
matche

['1235678912']

# order

In [62]:
chat1='codebasics: Hello, I am having an issue with my order # 412889912'
chat2='codebasics: I have a problem with my order number 412889912'
chat3='codebasics: My order 412889912 is having an issue, I was charged 300$ when online it says 280$'

In [71]:
pattern = 'order[^\d]*(\d*)'
#pattern = 'order[^\d]*\d*'

In [72]:
matche = re.findall(pattern, chat1)
matche

['412889912']

In [73]:
matche = re.findall(pattern, chat2)
matche

['412889912']

In [74]:
matche = re.findall(pattern, chat3)
matche

['412889912']

# Regex for information extraction

In [94]:
text='''
Born	Elon Reeve Musk
June 28, 1971 (age 50)
Pretoria, Transvaal, South Africa
Citizenship	
South Africa (1971â€“present)
Canada (1971â€“present)
United States (2002â€“present)
Education	University of Pennsylvania (BS, BA)
Title	
Founder, CEO and Chief Engineer of SpaceX
CEO and product architect of Tesla, Inc.
Founder of The Boring Company and X.com (now part of PayPal)
Co-founder of Neuralink, OpenAI, and Zip2
Spouse(s)	
Justine Wilson
â€‹
â€‹(m. 2000; div. 2008)â€‹
Talulah Riley
â€‹
â€‹(m. 2010; div. 2012)â€‹
â€‹
â€‹(m. 2013; div. 2016)
'''

In [108]:
import re
pattern ='age (\d+)'
match = re.findall(pattern,text)
match

['50']

In [99]:
pattern ='Born(.*)'
match = re.findall(pattern,text)
match[0].strip()

'Elon Reeve Musk'

In [100]:
pattern='Born.*\n(.*)\(ag'
match = re.findall(pattern,text)
match

['June 28, 1971 ']

In [101]:
pattern = 'age.*\n(.*)'
match = re.findall(pattern,text)
match

['Pretoria, Transvaal, South Africa']

In [117]:
def pattern_match(pattern, text):
    match = re.findall(pattern, text)
    if match:
        return match[0]

In [118]:
pattern_match(pattern, text)

'50'

In [119]:
def get_information(text):
    age = pattern_match('age (\d+)',text)
    fullname =pattern_match('Born(.*)',text)
    birth_date = pattern_match('Born.*\n(.*)\(ag',text)
    birth_place = pattern_match('age.*\n(.*)',text)
    
    return{
        'age': int(age),
        'full name': fullname,
        'birth_date':birth_date.strip(),
        'birth_place': birth_place.strip()
    }

In [120]:
get_information(text)

{'age': 50,
 'full name': '\tElon Reeve Musk',
 'birth_date': 'June 28, 1971',
 'birth_place': 'Pretoria, Transvaal, South Africa'}

# Exercise

In [131]:
text = '''
Follow our leader Elon musk on twitter here: https://twitter.com/elonmusk, more information 
on Tesla's products can be found at https://www.tesla.com/. Also here are leading influencers 
for tesla related news,
https://twitter.com/teslarati
https://twitter.com/dummy_tesla
https://twitter.com/dummy_2_tesla
'''

In [134]:
pattern='com/([a-z0-9_]+)'
match = re.findall(pattern,text)
match

['elonmusk', 'teslarati', 'dummy_tesla', 'dummy_2_tesla']

In [130]:
text = '''
Concentration of Risk: Credit Risk
Financial instruments that potentially subject us to a concentration of credit risk consist of cash, cash equivalents, marketable securities,
restricted cash, accounts receivable, convertible note hedges, and interest rate swaps. Our cash balances are primarily invested in money market funds
or on deposit at high credit quality financial institutions in the U.S. These deposits are typically in excess of insured limits. As of September 30, 2021
and December 31, 2020, no entity represented 10% or more of our total accounts receivable balance. The risk of concentration for our convertible note
hedges and interest rate swaps is mitigated by transacting with several highly-rated multinational banks.
Concentration of Risk: Supply Risk
We are dependent on our suppliers, including single source suppliers, and the inability of these suppliers to deliver necessary components of our
products in a timely manner at prices, quality levels and volumes acceptable to us, or our inability to efficiently manage these components from these
suppliers, could have a material adverse effect on our business, prospects, financial condition and operating results.
'''

In [125]:
pattern = 'Risk:(.*)'
match = re.findall(pattern,text)
match

[' Credit Risk', ' Supply Risk']

In [137]:
text = '''
Tesla's gross cost of operating lease vehicles in FY2021 Q1 was $4.85 billion.
BMW's gross cost of operating vehicles in FY2021 S1 was $8 billion.
'''

In [139]:
pattern ='FY(\d{4} .[1-4])'
#pattern = 'FY(\d{4} (?:Q[1-4]|S[1-2]))'
match = re.findall(pattern,text)
match

['2021 Q1', '2021 S1']